body {
  background-color: #3f4349;
  font-family: "Vazir", "tahoma", "Ubuntu" !important;
  color: rgb(220, 255, 243);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #f8f8f4 !important;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  color: #f8f8f4 !important;
  background-color: #44475a !important;
  border-color: #dcc4ff !important;
}

.form-control {
  background-color: #44445a !important;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
}
.list-group-item + .list-group-item {
  font-size: 10px;}